/* Responsive CSS OPEN */
* {
    box-sizing: border-box;
}

.row{
    display: flex;
    justify-content: center;
    gap: 10px;
}

[class*="col-"] {
    /* float: left; */
    padding: 15px;
   
}


/* For mobile phones: */
/* [class*="col-"] {
  width: 100%;
} */


@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  .sm_navIcon{
    display: none;
}

section, .nav, footer{
    margin-left: 20%;
    margin-right: 20%;
}
nav{
    width: 60%;
}


.dev_skill, .va_skill{
    border: 1px solid #96f1a2;
    /* height: 350px; */
}
}
@media only screen and (max-width: 767px) {
    /* For phones */
    nav{
        height: 55px;
       width: 100%;
        text-align: center;
        background-color: #0c0c0c;
        /* border-radius: 200px; */
        position: fixed;
        top: 0;
        left: 0;
        /* box-shadow: 0px 0px 0px 1px#96f1a2; */
    }
    .navIcon{
        display: none;
    }
    .logo{
        position: absolute;
        left: 5px;
    }
    .sm_navIcon{
        display: block;
        position: absolute;
        right: 5px;
    }
    section{
       margin: 0;
    }

    .skill{
        display: block;
    }
    .dev_skill, .va_skill{
        border: 1px solid #96f1a2;
        /* height: 350px; */
        width: 100%;
        margin-bottom: 10px;
    }
    .dev_skill{
        border-bottom: none;
    }
    .va_skill{
        border-top: none;
    }
  }
/* RESPONSIVE CSS CLOSED */

body{
    background-color: black;
    font-family: monospace;
    font-size: 14px;
}

/* (NAV) NAVIGATION BAR START */
.nav{
    height: 55px;
    text-align: center;
    background-color: #0c0c0c;
    /* border-radius: 200px; */
    box-shadow: 0px 0px 0px 1px#96f1a2;
    position: fixed;
    top: 0;
}

.logo{
    padding: 0px;
}
#logo{
    width: 80px;
}
.sm_navIcon a{
    font-size: 20px;
}
.sm_navIcon a{
    color: #96f1a2;
    text-decoration: none;
}
.navIcon{
    text-align: right;
}
.navIcon span{
    color: green;
}
.navIcon a{
    /* font-size: 20px; */
    text-decoration: none;
   padding: 15px;
   color: #96f1a2;
}
.navIcon a:hover, .sm_navIcon a:hover{
    color: green;
}
/* (NAV) NAVIGATION BAR ENDS */

 #home, #about, #skills, #projects, #contact{
    padding-top: 64px;
}


/* Menu NAVIGATION ON SMALL SCREEN */

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */  
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    background-color: black; /* Black fallback color */
    background-color: black; /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.8s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 23px;
    color: #96f1a2;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: green;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 10px;
    right:50px;
    font-size: 50px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    /* .overlay a {font-size: 20px} */
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

 /* Menu NAVIGATION ON SMALL SCREEN  ENDS*/




/* HEADER BEGINS */

section{
    margin-top: 70px;
    text-align: center;
    color: #96f1a2;
}
#profilePicture{
    width: 300px;
    border-radius: 50%;
    transition: all 1s ease-in-out;
    animation: sam 8s ease-in-out infinite;
    box-shadow: 0px 2px 2px 2px #96f1a2;
}

@keyframes sam {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    } 
}

#typewriter{
    font-size: 20px;
}

.cursor {
	border-left: 4px solid white;
}
#connect{
    color: green;
}

#profilePicture:hover{
    box-shadow: 3px 3px 3px grey;
}
#socialIcon{
    color: white;
    font-size: xx-large;
}
#spaceic{
    margin-left: 10px;
}
.brands{
    text-align: center;
    padding: 15px;
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 200px;
}
#brands1{
    width: 10%;
    margin-left: 0px;
}
#brands{
    width: 10%;
    margin-left: 30px;
}

/* About Me starts  */
    #about_content{
        text-align: justify;
    }
/* About Me Ends  */

/* Skill Starts */

.skill h3{
    text-decoration: underline;
}


/* Skill Ends */

/* Projects Starts */
.load_project{
    transition: all 1s ease-in-out;
    animation: loading 1s ease-in-out infinite;
}

@keyframes loading {
    0% {
        color: grey;
    }
    50% {
        color: white;
    }
    100% {
       color: #96f1a2;
    } 
}
/* Projects Ends */



/* Contact Section Starts */

input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 3px solid #0c0c0c; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: none;
    /* outline-color: #96f1a2; */
    background-color: #0c0c0c;
    color: #96f1a2;
  }
  

  input[type=submit] {
    background-color: #96f1a2;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  input[type=submit]:hover {
    background-color: green;
    color: white;
  }
  
  .contact {
    border-radius: 5px;
    padding: 20px;
    text-align: left;
  }
/* Contact Section Ends */

/*  */


/* Footer Sectio Starts */
footer{
    text-align: center;
    padding: 0px;
    background-color: #0c0c0c;
    /* margin-left: 10%;
    margin-right: 10%; */
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 0px 0px 0px 1px#96f1a2;
    color: #96f1a2;
    padding: 20px;
}
#copyright{
    text-decoration: none;
    color: green;
}
/* Footer Sectio Ends */